$fontWork: Work_Sans, sans-serif;
$fontSyne: Syne, sans-serif;

$color: #FFF;
$color1: #1D6154;
$color2: #93532F;
$color3: #3D3D3D;
$color4: #B1663C;
$color5: #B3B3B3;
$color6: #E8F1F6;
$color7: #B9C5CC;
$color8: #CBD6DC;
$color9: #306685;
$color10: #A7A7A7;

