@use "../Variables/mixins";
@use "../Variables/variables";

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

html {
    margin: 0;
	padding: 0;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
	content: none;
}
table {
    border-collapse: collapse;
	border-spacing: 0;
}

header {
    width: auto;
    height: 42px;
    display: flex;
	justify-content: space-between;
	margin: 50px 30px;

    h1 {
       text-align: center;
       @include Work_Sans;
       font-size: 22px;
       font-weight: 800;
    }

    span {
        text-align: center;
        @include Work_Sans;
        font-size: 10px;
        font-weight: 400;
        letter-spacing: 0.5px;
        text-transform: uppercase;
    }
    
    nav {
           display: flex;
           width: 320px;

        ul {
            display: flex;
            width: 320px;
            justify-content: space-between;
            align-items: center;
            list-style-type: none;
            
        }
        li {
            display: flex;
            padding: 0 10px;
            font-size: 14px;
            font-family: Syne;
            
            a {
                color: black;
                text-align: center;
                @include Work_Sans;
                font-size: 16px;
                font-weight: 400;
                text-decoration: none;

                &:hover {
                    color: $color4;
                    }
                }
                
            img {
               width: 22px;
               height: 22px;
               flex-shrink: 0; 
            }
            }
            .logoutVisible {
                visibility: hidden;
                display: none;
                @include Work_Sans;
                font-size: 16px;
                font-weight: bold;

                &:hover {
                    cursor: pointer;
                    color: $color4;
                }
            }
        }
        display: flex;
    }

section {
    margin: 50px 0;
}

h1 {
    display: flex;
    flex-direction: column;
    @include Syne;
    font-size: 22px;
    font-weight: 800;
    color: $color4;
    
    span {
        display: flex;
        @include Syne;
        font-size:10px;
        letter-spacing: 0.1em;
    }
}
h2 {
    @include Syne;
    font-weight: 700;
    font-size: 30px;
    color: $color1;
}

.ihmvisuel {
    justify-content: center;
    display: flex;
}
.jsPage {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    height: auto;
}
.bannerEdit {
    height:59px;
    gap: 50px;
    visibility: hidden;
    justify-content: center;
    display: none;
    font-size: 16px;
    background-color: black;        
    margin: 0;

    p {
        color : $color;
        text-align: center;
        @include Work_Sans;
        font-size: 16px;
        font-weight: 400;
        margin: 6px 0 0 10px;
    }
    i {
        font-size: 19px;
	    color: $color;
    }
}
.editBanner {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: $color;
    text-decoration: none;
}
.buttonEdition {
    color: black;
    background: $color;
    border-radius: 25px;
    width: 190px;
    @include Syne;
    font-size: 16px;
    height:45px;
}

footer {
    display: flex;
    height: 60px;
    flex-shrink: 0;
    justify-content: flex-end;
    align-items: center;

    nav {
        ul {
            display: flex;
            justify-content: flex-end;
            @include Work_Sans;
            font-size: 14px;
            font-weight: 300;
            margin: 21px;
        }
    }
}
#contact {
	width: 50%;
	margin: auto;
    margin-top: 40px;

    p {
        color: $color3;
        text-align: center;
        @include Work_Sans;
        font-size: 16px;
        font-weight: 400;
    }

    input {
        height: 50px;
        font-size: 14px;
        border: none;
        box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
    }
    .error {
        visibility: hidden;
    }

    > * {
        text-align: center;
    }
    h2 {
        margin-bottom: 9px;
        color: $color1;
        text-align: center;
        @include Syne;
        font-size: 30px;
        font-weight: 700;
    }
    form {
        text-align: left;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    label {
        transform: translate(-170px);
        display: flex;
        margin: 38px 0 7px 0;
        @include Work_Sans;
        font-size: 14px;
        font-weight: 500;
    }
    .message {
        transform: translate(-163px);
    }
    input {
        width: 379px;
        height: 51px;
        flex-shrink: 0;
        background: $color;
        box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
    }
    textarea {
        width: 379px;
        height: 174px;
        flex-shrink: 0;
        border: none;
        box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
    }
    input[type=submit] {
        width: 179px;
        height: 36px;
        flex-shrink: 0;
        background: $color1;
        border-radius: 60px;
        @include Syne;
        font-family: Syne;
        font-size: 14px;
        font-weight: 700;
        color: $color;
        margin: 40px auto;
        text-align: center;
      }
}
#introduction {
    display: flex;
    align-items: center;
    gap: 100px;

    figure {
        flex: 1;

        .imgLogin {
            display: block;
            margin: auto;
            width: 474px;
            height: 355px;
        }       
    }
    p {
        margin-bottom: 0,5em;
    }
           
}
.js-document {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.artGallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 404px;
    height: 192px;
    gap: 20px;

    h2 {
        display: flex;
        text-align: center;
        @include Syne;
        font-size: 30px;
        font-weight: 700;
    }
    p {
        @include Work_Sans;
       font-size: 14px;
       font-weight: 400;
    }
}
.js-ShowButton {
    display: flex;
    margin: 30px 0;
    
    #filterButton {
        display: flex;
        
        .btnChoice {
            @include Syne;
            font-weight: 700;
            color: $color1;
            background-color: $color;
            margin : 1em ;
            width: 130px;
            text-align: center;
            border-radius: 60px ;
            height: 35px;
            font-size: 14px;
            border: 2px solid $color1;
            box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
            
            &:nth-child(4) {
                width: 190px;
            }

            &:hover {
                cursor: pointer;
            }
        }   
        .filter_active {
            background-color: $color1;
            color: $color;
        }
       
    }
}
#portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        color: $color1;
	    text-align: center;
        @include Syne;
        font-size: 30px;
        font-weight: 700;
    }
        .gallery {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            justify-content: center;
            align-items: center;
            grid-row-gap: 35px;
            grid-column-gap: 20px;

        .card {
            width: 310px;
            height: 413px;
            flex-shrink: 0;

            img {
                height: 100%;
                width: 100%;
            }
            figcaption {
              color: $color3;
              @include Work_Sans;
              font-size: 13px;
              font-weight: 400;
              margin: 5px 0;
            }
        }
    }
}



#showDialog { 
    background-color: $color;
    width: 100px;
    border: none;
    display: none;
    flex-direction: column;
    align-items: stretch;
    
    
    .js-modal {
        display: flex;
        align-items: flex-end;
        justify-content: space-around;
        color: black;
        @include Syne;
        text-decoration: none;
        font-size: 14px;
        visibility: hidden;
        gap: 7px;
        
        i {
            display: flex;
            font-size: 19px;
            gap: 10px;
            color: black;
        }
    }
}
.flexModal {
	display: flex;
	flex-direction: row;
	justify-content: center;
    align-items: center;
	flex-wrap: nowrap;
	gap: 20px;

    h2 {
        padding: 0px;
        margin: 0px;
    }
}



